<div class="breadcrumb">
  <app-breadcrumb [items]="[ENVIRONMENT.information.name, 'Integration']"></app-breadcrumb>
  <div>
    <mat-icon mat-list-icon fontSet="fal" fontIcon="fa-clock"></mat-icon>
    {{ date | date }}
  </div>
</div>

<h1><mat-icon fontSet="fal" fontIcon="fa-puzzle-piece"></mat-icon> Integration</h1>

<div *ngFor="let programmingLanguagePair of programmingLanguages" class="cards">
  <mat-card *ngFor="let programmingLanguage of programmingLanguagePair">
    <mat-card-header>
      <mat-card-title>{{ programmingLanguage }}</mat-card-title>
      <mat-card-subtitle>
        Use {{ ENVIRONMENT.information.name }} in your {{ programmingLanguage }} application.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div [innerHtml]="text[programmingLanguage]"></div>
    </mat-card-content>
  </mat-card>
</div>
