<div class="breadcrumb">
  <app-breadcrumb [items]="['Application', 'Integration']"></app-breadcrumb>
  <div>
    <mat-icon mat-list-icon fontSet="fal" fontIcon="fa-clock"></mat-icon>
    {{ date | date }}
  </div>
</div>

<h1>Integration</h1>

<div class="cards">
  <mat-card>
    <mat-card-header>
      <mat-card-title>JavaScript</mat-card-title>
      <mat-card-subtitle>Use Feature Toggle in your JavaScript application</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <code></code>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>JavaScript</mat-card-title>
      <mat-card-subtitle>Use Feature Toggle in your JavaScript application</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <code></code>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>JavaScript</mat-card-title>
      <mat-card-subtitle>Use Feature Toggle in your JavaScript application</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <code></code>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
