div.breadcrumb {
  display: flex;
  justify-content: space-between;
  margin: 1em 0em;
}

h1 {
  margin: 0.5em 1em;
}

div.cards {
  display: flex;
  justify-content: space-between;

  mat-card {
    margin: 1em;
  }
}
