<mat-toolbar color="primary">
  <mat-icon (click)="sidenav.toggle()" fontSet="fal" fontIcon="fa-bars" mat-list-icon></mat-icon> Feature Toggle

  <span class="spacer"></span>

  <mat-icon [matMenuTriggerFor]="menu" mat-list-icon fontSet="fal" fontIcon="fa-user"></mat-icon>
  <mat-menu #menu="matMenu">
    <a [routerLink]="['/profile']" mat-menu-item>Profile</a>
    <mat-divider></mat-divider>
    <a [routerLink]="['/sign-in']" mat-menu-item>Sign Out</a>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="sidenavMode" [opened]="sidenavOpened">
    <mat-nav-list>
      <a [routerLink]="['/profile']">
        <mat-list-item>
          <mat-icon mat-list-icon fontSet="fal" fontIcon="fa-user"></mat-icon>
          {{ user.name }}
        </mat-list-item>
      </a>
      <mat-divider></mat-divider>
      <a [routerLink]="['/']">
        <mat-list-item>
          <mat-icon mat-list-icon fontSet="fal" fontIcon="fa-home"></mat-icon>
          Home
        </mat-list-item>
      </a>
      <mat-list-item>
        <mat-icon mat-list-icon fontSet="fal" fontIcon="fa-chart-pie"></mat-icon>
        <s>Analytics</s>
      </mat-list-item>
      <a [routerLink]="['feature-toggles']">
        <mat-list-item>
          <mat-icon mat-list-icon fontSet="fal" fontIcon="fa-toggle-on"></mat-icon>
          Feature Toggles
        </mat-list-item>
      </a>
      <mat-divider></mat-divider>
      <a [routerLink]="['integration']">
        <mat-list-item>
          <mat-icon mat-list-icon fontSet="fal" fontIcon="fa-puzzle-piece"></mat-icon>
          Integration
        </mat-list-item>
      </a>
      <mat-divider></mat-divider>
      <mat-list-item (click)="onClickContactUs()">
        <mat-icon mat-list-icon fontSet="fal" fontIcon="fa-envelope"></mat-icon>
        Contact Us
      </mat-list-item>
      <a [routerLink]="['/sign-in']">
        <mat-list-item>
          <mat-icon mat-list-icon fontSet="fal" fontIcon="fa-sign-out"></mat-icon>
          Sign Out
        </mat-list-item>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
