<mat-toolbar color="primary">
  <mat-icon (click)="sidenav.toggle()" fontSet="fal" fontIcon="fa-bars" matListIcon></mat-icon> Feature Toggle

  <span class="spacer"></span>

  <!-- <mat-icon [matMenuTriggerFor]="menu" matListIcon>person</mat-icon>
    <mat-menu #menu="matMenu">
      <button (click)="onClickProfile()" mat-menu-item>Profile</button>
      <ng-container *ngIf="tenants">
        <mat-divider></mat-divider>
        <button *ngFor="let tenant of tenants" (click)="onClickTenant(tenant)" mat-menu-item>{{ tenant.name }}</button>
        <mat-divider></mat-divider>
        <button (click)="onClickManageTenants()" mat-menu-item>Manage Tenants</button>
      </ng-container>
      <mat-divider></mat-divider>
      <button (click)="onClickSignOut()" mat-menu-item>Sign Out</button>
    </mat-menu> -->
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a [routerLink]="['/profile']">
        <mat-list-item>
          <mat-icon mat-list-icon fontSet="fal" fontIcon="fa-user"></mat-icon>
          {{ user.name }}
        </mat-list-item>
      </a>
      <mat-divider></mat-divider>
      <a [routerLink]="['/']">
        <mat-list-item>
          <mat-icon mat-list-icon fontSet="fal" fontIcon="fa-home"></mat-icon>
          Home
        </mat-list-item>
      </a>
      <mat-list-item>
        <mat-icon mat-list-icon fontSet="fal" fontIcon="fa-chart-pie"></mat-icon>
        <s>Analytics</s>
      </mat-list-item>
      <a [routerLink]="['/']">
        <mat-list-item>
          <mat-icon mat-list-icon fontSet="fal" fontIcon="fa-toggle-on"></mat-icon>
          Feature Toggles
        </mat-list-item>
      </a>
      <mat-divider></mat-divider>
      <a [routerLink]="['integration']">
        <mat-list-item>
          <mat-icon mat-list-icon fontSet="fal" fontIcon="fa-puzzle-piece"></mat-icon>
          Integration
        </mat-list-item>
      </a>
      <mat-divider></mat-divider>
      <mat-list-item (click)="onClickContactUs()">
        <mat-icon mat-list-icon fontSet="fal" fontIcon="fa-envelope"></mat-icon>
        Contact Us
      </mat-list-item>
      <a [routerLink]="['/sign-in']">
        <mat-list-item>
          <mat-icon mat-list-icon fontSet="fal" fontIcon="fa-sign-out"></mat-icon>
          Sign Out
        </mat-list-item>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
