mat-toolbar {
  mat-icon {
    cursor: pointer;
    margin-right: 0.5em;
  }

  .spacer {
    flex: 1 1 auto;
  }
}

mat-sidenav-container {
  min-height: calc(100% - 4em);

  mat-sidenav {
    width: 15em;

    mat-nav-list {
      mat-list-item {
        mat-icon {
          margin: 0em 0.5em;
        }
      }
    }
  }

  mat-sidenav-content {
    div {
      padding: 1em;
    }
  }
}
