<div class="breadcrumb">
  <app-breadcrumb [items]="[ENVIRONMENT.information.name, 'Home']"></app-breadcrumb>
  <div>
    <mat-icon mat-list-icon fontSet="fal" fontIcon="fa-clock"></mat-icon>
    {{ date | date }}
  </div>
</div>

<h1><mat-icon fontSet="fal" fontIcon="fa-home"></mat-icon> Home</h1>

<div class="statistics-cards">
  <app-statistics-card [text]="'feature toggles'" [value]="numberOfFeatureToggles()"></app-statistics-card>

  <app-statistics-card
    [text]="'archived feature toggles'"
    [value]="numberOfArchivedFeatureToggles()"
  ></app-statistics-card>
</div>

<div class="feature-toggle-list recent-updates">
  <app-feature-toggle-list (createFeatureToggle)="onCreateFeatureToggle($event)" [featureToggles]="featureToggles">
  </app-feature-toggle-list>

  <app-recent-updates [audits]="audits"></app-recent-updates>
</div>
