div.breadcrumb {
  display: flex;
  justify-content: space-between;
  margin: 1em 0em;
}

h1 {
  margin: 0.5em 1em;
}

div.form {
  margin: 1em;

  mat-card {
    margin: 1em;

    mat-form-field {
      width: 100%;
    }
  }

  table {
    margin: 1em;
    width: calc(100% - 1em - 1em);
  }
}
