<div class="container">
  <div class="block">
    <div>
      <h1>Welcome to {{ ENVIRONMENT.information.name }}</h1>
      <p>
        Fast and reliable feature management for the modern enterprise.
      </p>
      <img src="../../assets/images/undraw_to_the_moon_v1mv.svg" />
    </div>
    <div>
      <button (click)="onClickSignIn()" mat-raised-button>
        <img src="https://img.icons8.com/color/48/000000/google-logo.png" />
        Sign in with Google
      </button>
    </div>
  </div>
</div>
