div {
  mat-card {
    margin: 10px 0px;
  }

  table {
    margin: 10px 0px;
    width: 100%;

    tr {
      &:nth-child(even) {
        background: #eceff1;
      }

      &:nth-child(odd) {
        background: #fff;
      }

      mat-chip-list {
        margin: 10px;
      }
    }
  }

  button[mat-fab] {
    bottom: 50px;
    position: fixed;
    right: 50px;
  }
}
