<div>
  <mat-progress-bar *ngIf="!featureToggle" mode="indeterminate"></mat-progress-bar>

  <mat-card *ngIf="featureToggle">
    <mat-card-header>
      <mat-card-title>{{ featureToggle.name }}</mat-card-title>
      <mat-card-subtitle>Created By {{ featureToggle.user }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item> Key: {{ featureToggle.key }} </mat-list-item>
        <mat-list-item> Name: {{ featureToggle.name }} </mat-list-item>
        <mat-list-item> Created By: {{ featureToggle.user }} </mat-list-item>
        <mat-list-item> Created At: {{ featureToggle.createdAt | date }} </mat-list-item>
        <mat-list-item> Updated At: {{ featureToggle.updatedAt | date }} </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <table
    *ngIf="featureToggle"
    [dataSource]="featureToggle.roleBasedAccessControlItems"
    mat-table
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef>Subject</th>
      <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let element">{{ element.role }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsForRoleBasedAccessControlItems"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsForRoleBasedAccessControlItems"></tr>
  </table>

  <button (click)="onClickFabAdd()" mat-fab color="primary"><mat-icon matListIcon>add</mat-icon></button>
</div>
