<h1 mat-dialog-title>Create Feature Toggle</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input [formControl]="key" matInput placeholder="Key" />
    <mat-hint>E.g. my-awesome-feature</mat-hint>
    <mat-error *ngIf="key.invalid">{{ getErrorMessage('key') }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input [formControl]="name" matInput placeholder="Name" />
    <mat-hint>E.g. My Awesome Feature</mat-hint>
    <mat-error *ngIf="name.invalid">{{ getErrorMessage('name') }}</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button (click)="onClickClose()" mat-button>Close</button>
  <button (click)="onClickSubmit()" mat-button>Submit</button>
</div>
