div.breadcrumb {
  display: flex;
  justify-content: space-between;
  margin: 1em 0em;
}

h1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0.5em 0.5em;

  mat-icon {
    margin: 0em 0.5em 0em 0em;
  }

  mat-form-field {
    font-size: 0.5em;
  }
}

table {
  width: 100%;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  h1 {
    mat-form-field {
      bottom: 8px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
