<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Feature Toggles</mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-progress-bar *ngIf="!featureToggles" mode="indeterminate"></mat-progress-bar>

  <app-feature-toggle-list
    [featureToggles]="featureToggles"
    (changeFeatureToggle)="onChangeFeatureToggle($event)"
    (changeIncludeArchived)="onChangeIncludeArchived($event)"
  ></app-feature-toggle-list>

  <mat-card *ngIf="featureToggles && !featureToggles.length">
    <div style="font-size: 20px; font-weight: 500; text-align: center;">
      no feature toggles, yet
    </div>

    <div style="margin: 50px; text-align: center;">
      <button (click)="onClickFabAdd()" mat-raised-button color="accent">
        <mat-icon matListIcon>add</mat-icon> Add Feature Toggle
      </button>
    </div>
  </mat-card>

  <button (click)="onClickFabAdd()" mat-fab color="primary"><mat-icon matListIcon>add</mat-icon></button>
</div>
