mat-sidenav-container {
  min-height: calc(100% - 3.2em);

  mat-sidenav {
    width: 15em;

    mat-list-item {
      img {
        border-radius: 50%;
        height: 20px;
        padding: 6px;
      }
    }
  }

  mat-sidenav-content {
    div {
      padding: 1em;
    }
  }
}
