<app-toolbar [sidenav]="sidenav"></app-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item *ngIf="user" (click)="onClickProfile()">
        <img src="{{ user.profile.picture }}" />
        {{ user.profile.name }}
      </mat-list-item>
      <mat-divider></mat-divider>
      <a [routerLink]="['/']">
        <mat-list-item>
          <mat-icon matListIcon>home</mat-icon>
          Home
        </mat-list-item>
      </a>
      <a [routerLink]="['/tenant']">
        <mat-list-item *ngIf="tenants">
          <mat-icon matListIcon>public</mat-icon>
          Tenants
        </mat-list-item>
      </a>
      <a [routerLink]="['/audits']">
        <mat-list-item>
          <mat-icon matListIcon>edit</mat-icon>
          Audits
        </mat-list-item>
      </a>
      <mat-divider></mat-divider>
      <mat-list-item (click)="onClickSignOut()">
        <mat-icon matListIcon>vpn_key</mat-icon>
        Sign Out
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
