mat-toolbar {
  mat-icon {
    cursor: pointer;
    margin-right: 10px;
  }
}

mat-sidenav-container {
  min-height: calc(100% - 64px);

  mat-sidenav {
    width: 300px;
  }

  mat-sidenav-content {
    div {
      padding: 20px;
    }
  }
}
