<mat-card *ngIf="featureToggle">
  <mat-card-header>
    <mat-card-title>{{ featureToggle.name }}</mat-card-title>
    <mat-card-subtitle>
      Created By <a [routerLink]="['/audits', featureToggle.user]">{{ featureToggle.user }}</a> at
      {{ featureToggle.createdAt | date }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <b>Key</b>: &nbsp;
        <b>
          <u>{{ featureToggle.key }}</u>
        </b>
      </mat-list-item>
      <mat-list-item> <b>Name</b>: {{ featureToggle.name }} </mat-list-item>
      <mat-list-item> <b>Updated At</b>: {{ featureToggle.updatedAt | date }} </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
