mat-card {
  margin: 0.75em 0px;

  mat-card-header {
    div[mat-card-avatar] {
      img {
        border-radius: 50%;
        width: 2.5em;
      }
    }
  }
}

mat-accordion {
  margin: 0.75em 0px;
  
  table {
    width: 100%;
  }
}
