div.breadcrumb {
  display: flex;
  justify-content: space-between;
  margin: 1em 0em;
}

h1 {
  margin: 0.5em 0.5em;

  mat-icon {
    margin: 0em 0.5em 0em 0em;
  }
}

div.container {
  mat-card {
    margin: 0.5em;

    mat-card-header {
      div[mat-card-avatar] {
        background-image: url('https://randomuser.me/api/portraits/men/32.jpg');
        background-size: cover;
      }
    }
  }

  mat-accordion {
    mat-expansion-panel {
      margin: 0.5em;
    }
  }
}
