<mat-card *ngIf="featureToggle">
  <mat-list>
    <mat-list-item> Key: {{ featureToggle.key }} </mat-list-item>
    <mat-list-item> Name: {{ featureToggle.name }} </mat-list-item>
    <mat-list-item> Created At: {{ featureToggle.createdAt | date }} </mat-list-item>
    <mat-list-item> Updated At: {{ featureToggle.updatedAt | date }} </mat-list-item>
  </mat-list>

  <div>
    <mat-form-field>
      <mat-label>Environment</mat-label>
      <mat-select [(ngModel)]="selectedEnvironmentKey" (selectionChange)="onSelectionChangeEnvironmentKey()">
        <mat-option *ngFor="let environment of featureToggle.environments" [value]="environment.key">
          {{ environment.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-list>
    <mat-list-item>
      <mat-checkbox [(ngModel)]="selectedEnvironment.enabled" (change)="onChangeFeatureToggle()">Enabled</mat-checkbox>
    </mat-list-item>
    <mat-list-item>
      <mat-checkbox [(ngModel)]="selectedEnvironment.enabledForAll" (change)="onChangeFeatureToggle()">Enabled for All</mat-checkbox>
    </mat-list-item>
    <ng-container *ngIf="!selectedEnvironment.enabledForAll">
      <mat-list-item *ngFor="let consumer of selectedEnvironment.consumers">
        <mat-icon matListIcon>delete</mat-icon>
        {{ consumer }}
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <input
            [(ngModel)]="newConsumer"
            (keyup.enter)="onKeyUpEnterNewConsumer()"
            matInput
            placeholder="New Consumer"
          />
          <mat-hint>E.g. my-consumer, my-user, someone@example.com</mat-hint>
        </mat-form-field>
      </mat-list-item>
    </ng-container>
  </mat-list>
</mat-card>
