div.breadcrumb {
  display: flex;
  justify-content: space-between;
  margin: 1em 0em;
}

h1 {
  margin: 0.5em 0.5em;

  mat-icon {
    margin: 0em 0.5em 0em 0em;
  }
}

h2 {
  margin: 0.5em 0.5em;
}

div {
  mat-accordion {
    mat-expansion-panel {
      table {
        width: 100%;
      }
    }
  }
}
