div {
  div {
    padding: 0px 1em;
  }

  mat-card {
    margin: 0.5em 0px;
  }

  mat-form-field {
    width: 100%;
  }

  app-feature-toggle-edit-consumers {
    width: 100%;
  }

  mat-icon {
    cursor: pointer;
  }

  div.grey-section {
    background-color: #e9ecef;
    border-radius: 0.75em;
    color: #373a3c;
    font-size: 0.75em;
    font-weight: bold;
    margin: 1em;
    padding: 1.5em 1.5em;
    text-transform: uppercase;

    a {
      color: inherit;
    }

    label {
      display: block;
      font-size: 0.75em;
      margin-bottom: 0.75em;
    }

    span {
      color: #0f6ab4;
    }
  }
}
