<div>
  <app-feature-toggle-details [featureToggle]="featureToggle"></app-feature-toggle-details>

  <mat-card *ngIf="featureToggle">
    <div>
      <mat-form-field>
        <mat-label>Environment</mat-label>
        <mat-select [(ngModel)]="selectedEnvironmentKey" (selectionChange)="onSelectionChangeEnvironmentKey()">
          <mat-option *ngFor="let environment of featureToggle.environments" [value]="environment.key">
            {{ environment.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-list>
      <mat-list-item>
        <mat-slide-toggle [(ngModel)]="selectedEnvironment.enabled" (change)="onChangeFeatureToggle()">
          Enabled
        </mat-slide-toggle>
      </mat-list-item>
      <mat-list-item>
        <mat-slide-toggle [(ngModel)]="selectedEnvironment.enabledForAll" (change)="onChangeFeatureToggle()">
          Enabled for All
        </mat-slide-toggle>
      </mat-list-item>
      <mat-list-item>
        <mat-slide-toggle [(ngModel)]="featureToggle.archived" (change)="onChangeFeatureToggle()">
          Archived
        </mat-slide-toggle>
      </mat-list-item>
      <mat-list-item *ngIf="!selectedEnvironment.enabledForAll">
        <mat-form-field>
          <mat-chip-list #chipList>
            <mat-chip
              *ngFor="let consumer of selectedEnvironment.consumers"
              [selectable]="false"
              [removable]="true"
              (removed)="onClickRemoveConsumer(consumer)"
            >
              {{ consumer }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="onClickAddConsumer($event)"
              placeholder="Consumers"
            />
          </mat-chip-list>
        </mat-form-field>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
