div.breadcrumb {
  display: flex;
  justify-content: space-between;
  margin: 1em 0em;
}

h1 {
  margin: 0.5em 1em;
}

h2 {
  margin: 0.5em 1em;
}

div {
  mat-accordion {
    mat-expansion-panel {
      table {
        width: 100%;
      }
    }
  }
}
