mat-card {
  h3[mat-subheader] {
    display: flex;
    justify-content: space-between;
  }

  mat-list {
    mat-list-item {
      mat-icon {
        // font-size: 1.5em;
      }

      &.empty-state {
        display: flex;
        justify-content: center;

        button {
          color: #ffffff;
        }
      }
    }
  }
}
