<mat-card>
  <mat-list>
    <h3 mat-subheader>
      <span>Feature Toggles</span>
      <button *ngIf="featureToggles" (click)="onClickCreateFeatureToggle()" mat-icon-button color="accent">
        <mat-icon>add</mat-icon>
      </button>
    </h3>

    <ng-container *ngIf="featureToggles">
      <mat-list-item *ngFor="let featureToggle of featureToggles">
        <mat-icon mat-list-icon fontSet="fal" fontIcon="fa-toggle-on"></mat-icon>
        <h4 mat-line>
          <a [routerLink]="['feature-toggle', 'create']">
            {{ featureToggle.name }}
          </a>
        </h4>
        <p mat-line>{{ featureToggle.createdAt | date }} | {{ featureToggle.user }}</p>
      </mat-list-item>
    </ng-container>

    <mat-list-item *ngIf="!featureToggles">
      <mat-progress-bar mode="query"></mat-progress-bar>
    </mat-list-item>

    <mat-list-item *ngIf="featureToggles && !featureToggles.length" class="empty-state">
      <button (click)="onClickCreateFeatureToggle()" mat-raised-button color="accent">
        <mat-icon mat-list-icon>add_outline</mat-icon> Create
      </button>
    </mat-list-item>
  </mat-list>
</mat-card>
