<mat-card>
  <mat-list>
    <mat-list-item>
      Endpoint:&nbsp;<a href="{{ ENVIRONMENT.uri }}">{{ ENVIRONMENT.uri }}</a>
    </mat-list-item>
    <mat-list-item>
      Authority:&nbsp;
      <a href="{{ ENVIRONMENT.openIdConfiguration.authority }}">{{ ENVIRONMENT.openIdConfiguration.authority }}</a>
    </mat-list-item>
    <mat-list-item> Client ID:&nbsp;{{ ENVIRONMENT.openIdConfiguration.client_id }} </mat-list-item>
    <mat-list-item>
      Swagger Documentation:&nbsp;<a href="{{ ENVIRONMENT.uri }}/swagger">{{ ENVIRONMENT.uri }}/swagger</a>
    </mat-list-item>
  </mat-list>
</mat-card>
