<mat-card>
  <mat-card-header>
    <mat-card-title>Documentation</mat-card-title>
    <mat-card-subtitle
      ><a href="{{ ENVIRONMENT.uri }}/swagger" target="_blank">View Swagger Documentation</a></mat-card-subtitle
    >
  </mat-card-header>
</mat-card>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        HTTP
      </mat-panel-title>
      <mat-panel-description>
        Configure for HTTP
      </mat-panel-description>
    </mat-expansion-panel-header>

    <pre>
      <code>
          # Shell
          curl -i -H "Accept: application/json" \
          -H "Content-Type: application/json" \
          -X GET {{ ENVIRONMENT.uri }}/api/feature-toggle/{{ '{key}' }}/enabled/{{ '{environmentKey}' }}/{{ '{consumer}' }}

          # PowerShell
          Invoke-WebRequest -Uri {{ ENVIRONMENT.uri }}/api/feature-toggle/{{ '{key}' }}/enabled/{{ '{environmentKey}' }}/{{ '{consumer}' }} -Method GET -ContentType "application/json"
      </code>
    </pre>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        JavaScript
      </mat-panel-title>
      <mat-panel-description>
        Configure for JavaScript
      </mat-panel-description>
    </mat-expansion-panel-header>

    <pre>
      <code>
          fetch('{{ ENVIRONMENT.uri }}/api/feature-toggle/{{ '{key}' }}/enabled/{{ '{environmentKey}' }}/{{ '{consumer}' }}')
            .then((response) => response.json())
            .then((json) => console.log(json))
      </code>
    </pre>
  </mat-expansion-panel>
</mat-accordion>
